/* Global Stylies */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 4.6rem;
  font-family: sans-serif;
}

h3 {
  font-size: 3rem;
  font-family: sans-serif;
}

button {
  padding: 1.5rem 3.5rem;
  font-size: 2.4rem;
  background: #48c9b0;
  border: none;
  border-radius: 0.5rem;
  color: #212f3d;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
  /* animation: buttonAnimation 2s infinite alternate; */
  cursor: pointer;
}

button:hover {
  background: #212f3d;
  color: #48c9b0;
}

/* Nav And Landing Page */

.header {
  background: #212f3d;
  position: sticky;
  top: 0%;
  width: 100%;
  z-index: 1;
}

nav {
  display: flex;
  width: 90%;
  margin: auto;
  color: white;
  min-height: 10vh;
  padding: 2rem;
  align-items: center;
  flex-wrap: wrap;
}

nav h1 {
  flex: 2 1 40rem;
  font-family: "Pattaya", sans-serif;
  font-weight: 500;
}

nav ul {
  display: flex;
  text-decoration: none;
  font-size: 2.9rem;
  list-style: none;
  justify-content: space-around;
  flex: 1 1 40rem;
  font-family: monospace;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

.landing-page {
  background: linear-gradient(rgba(0, 0, 0, 0.6), transparent),
    url("/image/landing-page.jpg");
  min-height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #f7f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-weight: 500;
  flex-wrap: wrap;
}

.landing-page h3 {
  margin: 3.8rem;
  font-weight: 500;
}

#location {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), transparent),
    url("/image/new-york-page.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.location-head {
  width: 90%;
  margin: auto;
  padding: 1rem;
}

.location-head h2 {
  padding: 1rem 0rem;
  text-decoration: underline;
}

.location-head h3 {
  padding: 3rem 0rem;
  background: linear-gradient(#131c27, #663b34);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cloud {
  position: absolute;
  top: 0%;
  right: 0%;
  /* width: 50%; */
  pointer-events: none;
}

.moving-cloud-1 {
  animation: cloudAnimation 3s infinite alternate;
}

#benifit {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.benifit-head {
  background: #212f3d;
  min-height: 30vh;
  padding: 3rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.benifit-head h3 {
  margin: 3rem auto;
  font-weight: 500;
}

.cards {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 70vh;
}

.card {
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  margin: 2rem 3rem;
  border-radius: 1rem;
  flex: 1 1 30rem;
}

.card h4 {
  font-size: 3.6rem;
  font-family: "Courier New", Courier, monospace;
  padding: 2rem;
}

.card p {
  font-size: 2.5rem;
  font-family: sans-serif;
  padding: 3rem;
}

.card .icon {
  background: #384e64;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.card .icon img {
  padding: 3rem;
  width: 15rem;
  height: 15rem;
}

#contact {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.6), transparent),
    url("/image/contact-mountain.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
}

#form-wrap {
  background-color: rgba(19, 28, 39, 0.8);
  width: 55%;
  text-align: center;
  color: white;
  border-radius: 1.5rem;
}

#form-head {
  font-size: 3.9rem;
  padding: 3rem;
}

#form-wrap form {
  font-size: 2rem;
}

#form-wrap .input-name,
.input-email {
  padding: 3rem;
}

#form-wrap label {
  margin: 0rem 4rem;
}

#form-wrap input {
  padding: 1rem 2rem;
}

#form-wrap button {
  width: 100%;
  margin-top: 3rem;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.footer-wrap {
  height: 10vh;
  background: #212f3d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.h5 {
  font-size: 2.2rem;
  font-family: sans-serif;
  color: white;
}

.footer-wrap a{
  text-decoration: none;
  color: black;
}

@keyframes buttonAnimation {
  0% {
    background: #48c9b0;
  }

  100% {
    background: #212f3d;
    color: #48c9b0;
  }
}

@keyframes cloudAnimation {
  from {
    transform: translate(10%, -10%);
  }
  to {
    transform: translate(0%, 0%);
  }
}

@media screen and (max-width: 932px) {
  nav {
    text-align: center;
  }

  nav h1 {
    padding: 1.5rem;
    font-size: 5rem;
  }
  .cloud {
    height: 60rem;
    z-index: -1;
  }
  .location-head h3 {
    background: rgba(38, 48, 59, 0.5);
    -webkit-text-fill-color: rgb(255, 255, 255);
  }
}

@media screen and (max-width: 671px) {
  html {
    font-size: 45%;
  }

  nav {
    text-align: center;
  }

  nav h1 {
    padding: 1.5rem;
  }
  #form-wrap {
    width: 80%;
  }
}
